<% include ../partials/header %>
	<div class="container">
		<div class="jumbotron">
			<div class="container">
			<h1 class="text-center">Adding new Campground to YelpCamp</h1>
			</div>
		</div>


		<form action="/campgrounds" method="post">
			<div class="form-group">
				<label for="camp-name">Camp Name:</label>
				<input type="text" class="form-control" id="camp-name" name="campground[name]">
			</div>

			<div class="form-group">
				<label for="camp-img">Image Url:</label>
				<input type="text" class="form-control" id="camp-img" name="campground[image_url]">
			</div>

			<div class="form-group">
				<label for="camp-desc">Description:</label>
				<textarea name="campground[description]" class="form-control" id="camp-desc" rows="10"></textarea>
			</div>

			<button class="btn btn-primary btn-block">Submit</button>
		</form>
	</div>
<% include ../partials/footer %>
